body{
  background:url('bg.jpg')
}
.App{
  
  background: transparent;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#to-do-form input{
  background:transparent;
  border:5000;
  width: 200px;
  height:50px;
  padding:0 20px;
  margin:20px;
  font-size: 18px;
  border-radius: 10px;
  color:black;
}
#to-do-form placeholder{
  
  font-weight: bolder;
  color:black;
  font-weight: 9000;
}
#to-do-form input:focus,#to-do-form button:focus{
  outline:none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: black;
  cursor: pointer;
  font-weight: bolder;
  color: #ffff;
}